{% extends 'base.html' %}
{% load static %}
{% block title %} blog home {% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'login/styles.css' %}"/>
{% endblock %}
{% block content %}
<div class="container">
	<div class="wrapper">
		<form method="post" action="{% url 'login' %}" class="form-signin">
			{% csrf_token %}
			<h3 class="form-signin-heading">Welcome back!</h3>
			<hr class="colorgraph"><br>
			{% if form.errors %}
			<div class="alert alert-danger" role="alert">
				<strong>Warning!</strong> The username or password is incorrect
			</div>
			{% endif %}
			{% for field in form %}
			{{ field }}
			{% for error in field.errors %}
			<div class="alert alert-danger" role="alert">
				<strong>Warning!</strong> {{ error }}
			</div>
			{% endfor %}
			{% endfor %}
			<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Login</button>
			<a href="{% url 'registration:register' %}">Click here to register</a>
		</form>
	</div>
</div>
{% endblock %}