<!DOCTYPE html>
<html lang="en">
<head>
{% block meta %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% load static %}
<title>{% block title %} my blog {% endblock %}</title>
<!-- Latest compiled and minified CSS -->
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery library -->
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static 'base_styles.css' %}"/>
{% block link %}
{% endblock %}
{% block script %}{% endblock %}
</head>

<body>
	<div class="container-fluid" id="container-all">{% block content %}{% endblock %}</div>
</body>

</html>